* {
  box-sizing: border-box
} 

body {
  background-color: rgb(255,255,255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* left side bar */
.sideBar {
height: 100vh;
width: 300px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #F5F6F7;
overflow-x: hidden;
overflow-y: auto;
}

.profileContaienr {
width: 90%; /* set the width of the container */
position: relative;
display: flex;
align-items: center;
width: 90%;
height: 80px;
left: 16px;
top: 20px;
border-radius: 22px;
justify-content: center;
align-items: center;
}

.profile {
display: flex;
align-items: center;
}

.avatar {
width: 70px;
height: 70px;
border-radius: 50%;
background-color: white;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-right: 14px;
}

.info {
display: flex;
flex-direction: column;
margin-right: 5px;
}

.name {
margin: 0;
font-size: 20px;
font-weight: bold;
}

.email {
margin: 0;
width: 250px; /* set the width of the email address */
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

#profileButton {
/* border:1px solid #000000; */
border-radius: 25%;
}

#profileButton:hover {
background-color: #E7E9EB;
cursor: pointer;
}

#profileMenu {
position: absolute;
top: 90px;
left: 16px;
z-index: 2;
width: 268px;
height: auto;
padding: 0px;
border-radius: 10px;
border: 1px solid #EEF1F4;
background: #FFFFFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
display: none;
list-style: none;
}

#profileMenu li {
padding: 10px;
}

#profileMenu .profileHrLi {
padding: 0px;
}

#profileMenu .profileHr {
margin: 0px;
}

#signOut {
background: none;
border: none;
height: 20px;
padding: 0;
margin: 0;
cursor: pointer;
}

#signOutButton:hover {
background-color: #EEF1F4;
border-radius: 0px 0px 10px 10px;
}

/* New Note buttion */
#NewNoteBut {
position:relative;
width: calc(100% - 32px);
height: 35px;
/* left: 0px;   not sure what this does*/
display: block;
border: none;
margin: 20px 16px 2px;
background-color: rgb(41,98,245);
border-radius: 22px;
text-align: center; 
font-style: normal;
font-weight: 500;
letter-spacing: 0.05em;
font-size: 20px;
color: #FDFDFD;
}

#NewNoteBut:hover {
background-color: rgb(231,233,235);
color: rgb(102,109,122);
cursor: pointer;
}

.recentNoteContainer {
display: grid;
justify-content: center;
align-items: center;
margin-top: 25px;
}

.recentNote {
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 20px;
/* identical to box height, or 120% */
letter-spacing: 0.05em;
color: #000000;
margin-left:16px;
}

#breakLine1 {
border: 1px solid #000000;
position: relative;
width: 260px;
margin-left: 16px;
}


.dashboardButton {
  margin: 15px 16px 1px 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 22px;
  align-items: center;
  user-select: none;
  justify-content: start;
  display: flex;
  cursor: pointer;
} 

.dashboardButton :hover {
  background: #E9F1FE;
}

.DashboardButtonText :hover {
  color: #2962F5;
}

#DashboardButtonText {
  line-height: 22px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.1mm;
  font-size: 16px;
}

.NoteListHeader {
  margin: 15px 16px 2px 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #E9F1FE;
  border-radius: 22px;
  align-items: center;
  user-select: none;
  justify-content: start;
  display: flex;
  cursor: pointer;
  color: #2962F5;
} 


.noteIcon {
  height: auto; 
  max-width: 10%;
  margin-left: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
  color: #2962F5;
}

#NoteListHeaderText {
  line-height: 22px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.NoteList {
display: block;
width: 300px;
max-height: 605px;
position: fixed;
margin-top: 10px;
overflow-y: scroll;
user-select: none
}

#notesBtn {
  margin-left: auto;
  margin-right: 5px;
}

#notesBtn2 {
  margin-left: auto;
  margin-right: 5px;
  display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.NoteList::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.NoteList {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/* note list */
.list {
list-style: none;
margin: 0;
padding: 0;
}

.list li {
position: relative;
background-color: #E7E9EB;
cursor: pointer;
text-decoration: none;
border-radius: 15px;
margin-bottom: 9px;
margin-left: 50px;
margin-right: 16px;
padding: 6px;
padding-left: 20px;
color: black;
line-height: 22px;
/* font-family: 'Montserrat'; Dont think we have this font atm */
font-style: normal;
font-weight: 600;
font-size: 16px;
align-items: center;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.list li::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 10px;
height: 100%;
background-color: transparent;
border-radius: 5px 0 0 5px;
transition: background-color 0.3s ease-in-out;
}


.list li[selected="true"]::before {
background-color: #0066cc;
}

.list li:hover::before,
.list li.selected::before {
background-color: #5daeff; 
}


/* dashboard with meeting notes */
.main {
display: none;
width: 70%;
/* float: left; */
/* box-sizing: border-box; */
margin-left: 340px; 
/* position: relative; */
}

.right {
text-align: center;
  margin-top: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  /* or 120% */
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}

/* no meeting notes */
.empty_mainContainer {
width: 70%;
margin-left: 340px; 
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 90vh;
}


.titleContainer {
position: relative;
display: flex;
align-items: center;
width: 100%;
height: 80px;
top: 20px;
overflow: hidden;
}

.titleWrapper {
flex-grow: 1;
overflow-x: hidden;
border-radius: 5px;
}

.noteTitle {
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 16px;
white-space: nowrap; /* Prevent line breaks */
color: #00002A;
}

.noteTitle:focus {
outline-color: transparent;
}

#saveNoteBut {
width: 115px;
height: 40px;
background-color: rgb(41,98,245);
border-radius: 22px;
text-align: center; 
font-style: normal;
font-weight: 700;
letter-spacing: 0.05em;
font-size: 20px;
color: #FDFDFD;
margin-left: 15px; /* Add margin for spacing */
flex-shrink: 0;
}

#saveNoteBut[saved=true] {
  background-color: #D9D9D9;
}

#saveNoteBut:hover {
background-color: rgb(231,233,235);
color: rgb(102,109,122);
cursor: pointer;
}

#breakLine2 {
width: 100%;
height: 0px;
margin-right: auto;
margin-top: 15px;
border: 1px solid #CBCBCB;
}

.detailsElements{
display: flex;
flex-direction: column;
padding: 10px;
font-style: normal;
font-weight: 500;
font-size: 20px;
}

.created,
.attendee,
.location,
.datetime,
.duration,
.tags {
display: flex;
align-items: center;
margin-bottom: 5px;
}

.creator,
.attendees,
.locationT,
.date,
.durationT
/* other class names for other inputs */ {
border: none; /* to remove the default border */
outline: none; /* to remove the focus outline */
background: transparent; /* to match the background */
font-style: normal;
font-weight: 500;
font-size: 20px;
}

#attendeeList {
display: flex;
list-style: none;
margin: 0;
padding: 0;
overflow-x: hidden;
}

#attendeeList li {
background-color: #f2f2f2;
padding: 5px 10px;
margin-right: 5px;
border-radius: 5px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

#show-more-button {
background-color: transparent;
border: none;
margin-left: 5px;
font-weight: bold;
cursor: pointer;
}

.logo{
margin-right: 10px;
}

#breakLine3 {
width: 100%;
height: 0px;
margin-right: auto;
border: 1px solid #CBCBCB;
}

.note {
margin-top: 30px;
padding: 10px;
border-radius: 25px;
background-color: #F9F9F9;
}

.toolbar {
margin-bottom: 5px;
}

.toolbar button {
margin-right: 5px;
margin-left: 20px;
}

.content {
min-height: 200px;
width: 100%;
background-color: #F9F9F9;
border: none;
padding: 5px;
}

/* .content-wrapper {
display: flex;
justify-content: center;
} */


#content {
width: 100%;
height: 200px;
padding: 5px;
border: 1px solid #ccc;
resize: none;
overflow-y: scroll;
}



.hidden{
display: none;
}

/* Style for the popup container */
.confirmation-dialog,
.popup,
.tag_popup {
background-color: white;
border-radius: 5px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
/* padding: 10px; */
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 500px;
z-index: 2;
}

/* Style for the popup content */
.popup-content {
padding: 30px;
position: relative;
align-items: center;
text-align: center;
letter-spacing: -0.02em;
font-size: 20px;
}

/* Style for meetingtitle and time: bold */
.meetingTitle2, 
.meetingTime2,
.meetingTitle {
font-weight: bold;
}

/* yes/no buttons container */
.buttons_container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
display: inline-block;  
margin-top: 20px;
padding: 8px 10px;
}

/* Style for the close button */
.close {
position: absolute;
top: 5px;
right: 10px;
font-size: 20px;
color: #999;
cursor: pointer;
}

.close:hover {
color: #2962F5;;
cursor: pointer;
}

/* No button */
#blankButton4, 
#openExistingB,
#cancelDeleteButton{
width: 100px;
height: 33px;
position: flex;
/* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); */
/* background-color: #F3F3F5; */
text-align: center; 
font-weight: 700;
letter-spacing: 0.05em;
font-size: 20px;
color: #2962F5;
border: none;
cursor: pointer;
/* border: 2px solid #2962F5; */
box-shadow: 0 3px 3px rgb(164, 186, 242);
border-radius: 5px;
background-color: white;
}



#blankButton4:hover {
background-color: rgb(41,98,245);
color: white;
cursor: pointer;
box-shadow: none;
}

#openExistingB:hover {
background-color: rgb(41,98,245);
color: white;
cursor: pointer;
box-shadow: none;
}

#cancelDeleteButton:hover {
  background-color: rgb(41,98,245);
  color: white;
  cursor: pointer;
  box-shadow: none;
}


/* yes button */
#autoPBut, 
#blankButton2,
#confirmDeleteButton {
width: 100px;
height: 33px;
position: flex;
background-color: rgb(41,98,245);
border-radius: 10px;
box-shadow: 0 2px 2px rgb(164, 186, 242);
text-align: center; 
font-weight: 700;
letter-spacing: 0.05em;
font-size: 20px;
color: #FDFDFD;
margin-left: 100px; /* Add margin for spacing */
border: none;
border-radius: 5px;
cursor: pointer;
}

#autoPBut:hover {
background-color: rgb(62, 142, 246);
color: #FDFDFD;
cursor: pointer;
}
#blankButton2:hover {
background-color: rgb(62, 142, 246);
color: #FDFDFD;
cursor: pointer;
}

#confirmDeleteButton:hover {
  background-color: rgb(62, 142, 246);
  color: #FDFDFD;
  cursor: pointer;
}

/* no upcoming meeting scenario */
#blankButton1 {
width: 100px;
height: 33px;
position: flex;
background-color: rgb(41,98,245);
border-radius: 10px;
box-shadow: 0 2px 2px rgb(164, 186, 242);
text-align: center; 
font-weight: 700;
letter-spacing: 0.05em;
font-size: 20px;
color: #FDFDFD;
margin: auto; /* Add margin for spacing */
border: none;
border-radius: 5px;
cursor: pointer;
}

#blankButton1:hover {
background-color: rgb(62, 142, 246);
color: #FDFDFD;
cursor: pointer;
}

.deleteBtnContainer {
display: grid;
align-items: center; /* Center items horizontally and align at the bottom */
min-height: 5vh;
margin-top: 480px;
margin-left: 125px;
position: absolute;
bottom: 0;
}

#deleteNoteBut {
height: 50px;
width: 50px;
border: none;
cursor: pointer;
border-radius: 2pc;
background-color: transparent;
}

#deleteNoteBut svg {
width: 30px;
height: 30px;
stroke: rgb(102,109,122);
stroke-width: 1.5px;
border-radius: 2pc;
}

/* #deleteNoteBut:hover {
background-color: #2962F5;
} */

#deleteNoteBut svg:hover {
stroke: #2962F5;
}

@media screen and (max-height: 450px) {
.sideBar {padding-top: 15px;}
.sideBar a {font-size: 18px;}
}

#tagListPop {
  list-style: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin-top: 5px; /* Remove default margin */
  font-size: 15px;
}

#tagPopup {
  width: fit-content;
  /* will need to move the tag popup box to near + button as per figma prototye */
}

#tagListPop li{
  text-align: left;
  margin-left: 4px;
  display: flex;
  justify-content: space-between;
}

#tagListPop li.tag-item:hover {
  background-color: #E9F1FE; /* Change the background color on hover */
  color: #2962F5;
  cursor: pointer; /* Change the cursor to a pointer on hover */
  font-size: 15px;
}

/* Style the tag text */
.tag-text {
  display: inline-block;
  background-color: #007bff; /* Background color when not hovering */
  color: #fff; /* Text color when not hovering */
  padding: 2px 10px 2px 5px; /* Adjust padding to move text to the left */
  margin-right: 5px; /* Spacing between tags */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
}

/* Change tag text styles on hover */
.tag-text:hover {
  background-color: #0056b3; /* Background color on hover */
}

/* Style the delete button */
.delete-tag-button {
  background-color: transparent;
  border: none;
  color: rgb(102,109,122);
  cursor: pointer;
  font-size: 13px;
  margin-left: auto;
  /* padding: 2px 5px 2px 100px; */
   /* Adjust padding to move button to the right */
}

/* Change delete button color on hover */
.delete-tag-button:hover {
  color: #0056b3; /* Text color on hover */
}

#tagList {
  display: flex; /* Use flexbox to arrange tags in a horizontal line */
  flex-wrap: wrap; /* Allow tags to wrap to the next line if they don't fit */
}

.tag {
  background-color: #f2f2f2; 
  padding: 5px 10px;
  margin: 5px;
  border-radius:10px;
  font-size: 15px;
}

.tag:hover {
  cursor: pointer;
  background-color: #999;
}

#tagDropdown {
  display: none;
  position: absolute;
  top: 100%; /* Position the dropdown right below the search input container */
  left: 0;
  border: none;
  border-radius: 5px;
  box-shadow:0 2px 2px  #999;
  background-color: #fff;
  max-height: 100px;
  overflow-y: auto;
  width: 100%;
  z-index: 2;
}

/* Center-align the buttons horizontally */
.confirmation-dialog button {
 margin: 0 40px; /*Add some spacing between the buttons */
 padding: 5px 10px;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add styles for the search container */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 32px);
  margin-top: 40px;
  margin-left: 16px;
  background: #dfe2e4;
  border: 1px solid #dfe2e4;
  border-radius: 22px;
  flex-grow: 1;
  position: relative;
}

.search-container button {
  margin-right: 5px; /* Add some space between the buttons */
}

#tagSearchInput{
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
  width: 80%;
}

#tagSearchInput::placeholder {
  color: #bbb;
  padding-left: 2px;
}

#tagSearchInput:focus {
  box-shadow: 0 0 3px 0 hsl(204, 8%, 88%);
  border-color: #dfe2e4;
  outline: none;
  border-radius: 22px;
}

#searchOkButton {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 1px;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url(../assets/search.svg) no-repeat right center;
  cursor: pointer;
  opacity: 0.7;
}

#searchOkButton:hover {
  opacity: 1;
}

#cancelTagSearch {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 1px;
  margin-right: 5px;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url(../assets/close.svg) no-repeat right center;
  cursor: pointer;
  opacity: 0.7;
}


#cancelTagSearch:hover {
  opacity: 1;
}



.add-tag-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.7;
  font-size: 25px;
  font-weight: 100;
}

.add-tag-button:hover {
  border: none;
  background-color: transparent;
  color: #007bff;
  cursor: pointer;
  opacity: 0.7;
  font-size: 25px;
}



#confirmTagButton {
  background-color: #007bff;
  color: #FDFDFD;
  border-radius: 10px;
  text-align: center; 
  font-style: normal;
  font-weight: 50;
  letter-spacing: 0.05em;
  font-size: 15px;
  border: none;
  padding: 5px;
}

#confirmTagButton:hover {
  background-color: rgb(231,233,235);
  color: rgb(102,109,122);
  cursor: pointer;
}

#tagsT {
  background: #dfe2e4;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: rgb(102,109,122);
  width: 80%;
  border-radius: 10px;
  border: none;
} 
