.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.left {
    text-align: center;
    /* (Empty) */
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    text-align: center;
    letter-spacing: 0.07em;
    color: #000000;
}

.right {
    text-align: center;
    margin-top: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}