@import url("http://fonts.googleapis.com/css?family=Montserrat:400,300,700");
body{
    background-color: rgb(237,242,248);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h1{
    margin-top: 20%;
    font-weight: 400;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 30px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.05em;
}

.logContainer{
    background-color: rgb(255,255,255);
    border-radius: 42px;
    position: absolute;
    /* horizontal center box */
    margin: auto;
    width: 50%;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* vertical center box */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    font-style: normal;
    font-weight: 100;
    letter-spacing: 0.05em;
}

.logInButton{
    transition-duration: 0.4s;
    font-family: 'Montserrat', sans-serif ;
    width: 60%;
    height: 70px;
    background-color: rgb(41,98,245);
    color: rgb(255,255,255);
    border-radius: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    cursor: pointer;
    border: none;
}

.logInButton:hover{
    background-color: rgb(231,233,235);
    width: 60%;
    height: 70px;
    color: rgb(102,109,122);
    border-radius: 10px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
